{%extends 'layout/master_manage.html'%}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <b>Thống kê theo sản phẩm</b>
    </div>
  </div>
</div>
<div class="container">
    
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã SP</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tổng tiền</th>
              </tr>
            </thead>
            <tbody>
                {%for item in lst_sp_trong_ngay%}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{item['ma_sp']}}</td>
                <td>{{item['ten_sp']|title}}</td>
                <td>{{item['so_luong']}}</td>
                <td>{{item['so_luong'] * item['gia_ban']}}</td>
              </tr>
                {%endfor%}
            </tbody>

          </table>
    </div>
    
</div>
<div class="chart-container" style="height: 200; width:200;">
  <canvas id="myChart"></canvas>
  <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [
                  {%for sp in lst_sp_trong_ngay%}
                  "{{sp['ten_sp']}}",
                  {%endfor%}
              ],
              datasets: [{
                  
                  label: 'Doanh thu',
                  data: [
                  {%for sp in lst_sp_trong_ngay%}
                  "{{ sp['so_luong'] * sp['gia_ban']}} ",
                  {%endfor%}
                  ],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
  </script>
</div>
{%endblock%}