<footer class="footer container-fluid text-left">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-4">
                <img width="150px"src="/static/images/logo.png" alt="logo">
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <a href="#">Chính sách</a>
                    <a href="#">Điều khoản sử dung</a>
                    <a href="#">Đổi trả sản phẩm</a>
                </div>
                <div class="col-md-12">
                    <p>&copy; copyright 2018 Mae Cosmetics</p>
                    <p> Công ty TNHH ABC</p>
                    <p> Email: abc@gmail.com</p>
                </div>
            </div> -->
            <div class="col-md-12 text-center">
                <img width="100px"src="/static/images/logo.png" alt="logo">
               
                <span class="text-left">
                    &copy; copyright 2018 Mae Cosmetics
                    
                </span>
            </div>

        </div>
    </div>

</footer>