<div class="jumbotron jumbotron-fluid" id="prefooter" style="height: 150px; padding-top: 30px; margin-bottom: 0; background-color: white;">
    <!-- background-image: url({{url_for('static',filename='images/footer_1.jpg')}}); background-size: 100% 100%; -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{{url_for('static',filename='images/logo.png')}}" width ="200px">
            </div>
            <div class="col-md-9">
                <div class="col-md-12">
                    <a> Chính sách </a>
                    <a> Điều khoản sử dụng</a>
                    <a> Đổi trả sản phẩm </a>
                </div>
                <div class="col-md-12">
                    <small>CÔNG TY TNHH MAE COSMETICS</small>
                </div>
                <div class="col-md-12">
                    <small>Email: maecosmetics@gmail.com</small>
                </div>
                <div class="col-md-12">
                    <a><i class="fab fa-facebook"></i></a>
                    <a><i class="fab fa-instagram"></i></a>

                </div>
            </div>
            
        </div>
    </div>

</div>
<footer class="footer container-fluid text-left">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-4">
                <img width="150px"src="/static/images/logo.png" alt="logo">
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <a href="#">Chính sách</a>
                    <a href="#">Điều khoản sử dung</a>
                    <a href="#">Đổi trả sản phẩm</a>
                </div>
                <div class="col-md-12">
                    <p>&copy; copyright 2018 Mae Cosmetics</p>
                    <p> Công ty TNHH ABC</p>
                    <p> Email: abc@gmail.com</p>
                </div>
            </div> -->
            <div class="col-md-12 text-center">
                <img width="100px"src="/static/images/logo.png" alt="logo">
               
                <span class="text-left">
                    &copy; copyright 2018 Mae Cosmetics
                    
                </span>
            </div>

        </div>
    </div>

</footer>