{%extends 'layout/master_manage.html'%}
{%block title%} Hóa đơn {{hoa_don.ma_hoa_don}} {%endblock%}
{%block content%}
    
<div class="container" style="margin: 20px auto;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Thông tin hóa đơn #{{hoa_don.ma_hoa_don}}</h3>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-md-12">
            Ngày tạo hóa đơn: <b>{{hoa_don.ngay_tao_hoa_don}}</b>
        </div>
        <div class="col-md-12">
            Tên khách hàng: <b>{{khach_hang.ten_khach_hang}}</b>
        </div>
        <div class="col-md-12">
            Địa chỉ giao hàng: <b>{{hoa_don.dia_chi_giao_hang}}</b>
        </div>
        <div class="col-md-12">
            Số điện thoại liên lạc: <b>{{hoa_don.so_dien_thoai_nguoi_nhan}}</b>
        </div>
        {%if hoa_don.ghi_chu != None%}
        <div class="col-md-12" style="text-decoration: underline;">
            Ghi chú: <b>{{hoa_don.ghi_chu}}</b>
        </div>
        {%endif%}
    </div>
    <div class="row" style="margin: 40px auto;">
        <div class="col-md-12 text-center">
            <h3>Thông tin đơn hàng</h3>
        </div>
        <div class="col-md-12 text-right">
            <p {%if hoa_don.trang_thai == 2%} style="color: red;" {%endif%}>Trạng thái: <b> {%if hoa_don.trang_thai == 1%}  Đã thanh toán  {%elif hoa_don.trang_thai == 2%} Hủy {%else%} Chưa thanh toán {%endif%} </b></p>
        </div>
        {%if hoa_don.trang_thai == 2%}
        <div class="col-md-12 text-right">
            <p><b>Thời điểm hủy:</b> {{thoi_diem_huy}}</p>
            <p><b>Lí do hủy:</b> {{li_do_huy}}</p>
        </div>
        {%endif%}
        
    </div>
    <div class="row">
        <table class="table text-center">
            <thead class="thead-dark">

                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá bán</th>
                    <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                {%for item in don_hang%}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{item.ma_san_pham}}</td>
                    {%for sp in lst_temp%}
                    {%if sp['ma_sp'] == item.ma_san_pham%}
                    <td>{{sp['ten_sp']}}</td>
                    {%endif%}
                    {%endfor%}
                    <td>{{item.so_luong}}</td>
                    <td>{{item.don_gia}}</td>
                    {%for sp in lst_temp%}
                    {%if sp['ma_sp'] == item.ma_san_pham%}
                    <td>{{"{:,}".format(item.so_luong * sp['don_gia'])}}</td>
                    {%endif%}
                    {%endfor%}
                    
                </tr>
                {%endfor%}
                <tr>
                    <td scope="col-md-12"><b>Tổng cộng: {{tong_tien}} VNĐ </b></td>
                </tr>
            </tbody>
        </table>
    </div>
    {%if hoa_don.trang_thai == 0%}
    <div class="row">
        <div class="col-md-12 text-center">
            <a class = "btn btn-success" href="/QL-don-hang/hoa-don/hd_{{hoa_don.ma_hoa_don}}" target="_blank" style="color: white;">In hóa đơn</a>
            <a class="btn btn-danger" style="color:white;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Hủy đơn hàng</a>
            
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form method="POST" action="{{url_for('huy_hoa_don', ma_hd = hoa_don.ma_hoa_don)}}">
                        <div class="form-group">
                            <p>Lí do:</p>
                            {{form.csrf_token}}
                        </div>
                        <div class="form-group">
                            {{form.li_do(class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{form.submit(class="btn btn-danger", style="color:white;")}}
                        </div>
                    </form>
                </div>
              </div>
        </div>
    </div>
    {%endif%}
</div>
{%endblock%}